exploring air quality data

In [1]:
import pandas as pd

In [17]:
air_df = pd.read_csv("Air_Quality.csv")
air_df

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2,NaN
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6,NaN
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0,NaN
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18020,816914,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503.0,Tottenville and Great Kills (CD3),2019,01/01/2019,12.9,NaN
18021,816913,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503.0,Tottenville and Great Kills (CD3),2010,01/01/2010,14.7,NaN
18022,816872,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,208.0,Canarsie - Flatlands,2010,01/01/2010,43.4,NaN
18023,816832,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,407.0,Southwest Queens,2010,01/01/2010,65.8,NaN
18024,151658,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,408.0,Jamaica,2005,01/01/2005,41.0,NaN

In [18]:
years = air_df["Time Period"].unique()
years

array(['2015', 'Annual Average 2012', 'Summer 2022', 'Summer 2012',
       'Summer 2013', 'Summer 2021', 'Annual Average 2013',
       'Annual Average 2017', 'Summer 2009', '2013', 'Summer 2016',
       'Summer 2011', 'Annual Average 2016', 'Winter 2021-22',
       'Winter 2010-11', 'Annual Average 2021', 'Winter 2014-15',
       'Winter 2015-16', 'Annual Average 2018', 'Summer 2014',
       'Annual Average 2009', 'Annual Average 2015',
       'Annual Average 2011', 'Summer 2010', 'Winter 2020-21',
       'Winter 2019-20', 'Winter 2012-13', 'Summer 2015', '2009-2011',
       '2015-2017', 'Annual Average 2010', 'Summer 2019',
       'Annual Average 2020', 'Winter 2018-19', '2012-2014',
       'Annual Average 2019', 'Winter 2017-18', 'Winter 2008-09',
       'Annual Average 2022', '2005-2007', 'Winter 2013-14', '2010',
       'Summer 2017', 'Winter 2009-10', 'Winter 2011-12', 'Summer 2020',
       'Summer 2018', 'Annual Average 2014', 'Winter 2016-17',
       '2017-2019', '2005', '2019', '2-Year Summer Average 2009-2010',
       '2014', '2011'], dtype=object)

In [19]:
air_df_2015 = air_df[air_df["Time Period"] == "Annual Average 2015"]
air_df_2015

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
144,334003,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,211.0,Williamsburg - Bushwick,Annual Average 2015,01/01/2015,9.6,NaN
238,333997,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2015,01/01/2015,8.1,NaN
337,336499,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,104.0,Pelham - Throgs Neck,Annual Average 2015,01/01/2015,19.4,NaN
339,336553,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,304.0,Upper West Side,Annual Average 2015,01/01/2015,23.9,NaN
508,336559,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,306.0,Chelsea - Clinton,Annual Average 2015,01/01/2015,29.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
17690,336895,375,Nitrogen dioxide (NO2),Mean,ppb,CD,503.0,Tottenville and Great Kills (CD3),Annual Average 2015,01/01/2015,11.8,NaN
17692,336856,375,Nitrogen dioxide (NO2),Mean,ppb,CD,404.0,Elmhurst and Corona (CD4),Annual Average 2015,01/01/2015,21.9,NaN
17796,334126,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF34,302.0,Central Harlem - Morningside Heights,Annual Average 2015,01/01/2015,9.4,NaN
17886,336628,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,201.0,Greenpoint,Annual Average 2015,01/01/2015,21.7,NaN
17968,336676,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,402.0,West Queens,Annual Average 2015,01/01/2015,21.1,NaN