This Notebook will store cleaned data in a SQLite database, and explore plotting.

Importing libraries and clean tree and air dataframes:

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import sqlite3
import tabulate

In [26]:
air = pd.read_csv("Air_quality_by_CD.csv")
air.head()

,id,Geo_Join_ID,Time_Period,Name,Data_Value,Measure_Info,Indicator_ID
0,1,304.0,Summer 2015,Nitrogen dioxide (NO2),15.5,ppb,375
1,2,410.0,Winter 2015-16,Nitrogen dioxide (NO2),22.5,ppb,375
2,3,301.0,Summer 2015,Nitrogen dioxide (NO2),17.0,ppb,375
3,4,409.0,Summer 2015,Nitrogen dioxide (NO2),14.4,ppb,375
4,5,304.0,Annual Average 2015,Nitrogen dioxide (NO2),20.3,ppb,375

In [27]:
tree = pd.read_csv("tree_summary_by_cb.csv")
tree.head()

   tree_id  cb_num  tree_count  avg_health_score  dbh_mean  dbh_max
0        1     101        2297            2.7101     7.096       88
1        2     102        4833            2.6739     8.898       33
2        3     103        4709            2.7084     8.449       32
3        4     104        4419            2.7798     7.941       38
4        5     105        2016            2.6037     6.375       21

In [28]:
air_and_tree = pd.read_csv("combined_air_and_tree.csv")
air_and_tree.head()

,id,Geo_Join_ID,Time_Period,Name,Data_Value,Measure_Info,Indicator_ID,tree_id,cb_num,tree_count,avg_health_score,dbh_mean,dbh_max
0,1,304.0,Summer 2015,Nitrogen dioxide (NO2),15.5,ppb,375,28,304,6817,2.7081,8.918,52
1,2,410.0,Winter 2015-16,Nitrogen dioxide (NO2),22.5,ppb,375,52,410,14353,2.7888,14.260,64
2,3,301.0,Summer 2015,Nitrogen dioxide (NO2),17.0,ppb,375,25,301,11542,2.8084,9.234,151
3,4,409.0,Summer 2015,Nitrogen dioxide (NO2),14.4,ppb,375,51,409,10878,2.7726,14.965,132
4,5,304.0,Annual Average 2015,Nitrogen dioxide (NO2),20.3,ppb,375,28,304,6817,2.7081,8.918,52

Creating a SQLite database:

In [29]:
air_df = pd.read_csv("Air_quality_by_CD.csv")
tree_df = pd.read_csv("tree_summary_by_cb.csv")

In [35]:
#Create SQLite database and tables
conn = sqlite3.connect("air_and_tree.db")
cursor = conn.cursor()

#create table air
cursor.execute("""
CREATE TABLE IF NOT EXISTS air (
    id INTREGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Geo_Join_ID TEXT NOT NULL,
    Time_Period TEXT NOT NULL,
    Data_Value REAL NOT NULL
);        
""")

#create table tree
cursor.execute(""" 
CREATE TABLE IF NOT EXISTS tree (
    tree_id INTEGER PRIMARY KEY,
    cb_num TEXT NOT NULL,
    dbh_mean REAL NOT NULL,
    dbh_max INTEGER NOT NULL,
    tree_count INTEGER NOT NULL,
    avg_health_score REAL NOT NULL
);             
""")

#insert data into tables
air_df.to_sql("air", conn, if_exists="replace", index=False)
tree_df.to_sql("tree", conn, if_exists="replace", index=False)

#verify data was inserted
print("Air Data Table: \n")
print(pd.read_sql_query("SELECT * FROM air LIMIT 5", conn))

print("Tree Data Table: \n")
print(pd.read_sql_query("SELECT * FROM tree", conn))

Air Data Table:

   id  Geo_Join_ID          Time_Period                    Name  Data_Value  \
0   1        304.0          Summer 2015  Nitrogen dioxide (NO2)        15.5
1   2        410.0       Winter 2015-16  Nitrogen dioxide (NO2)        22.5
2   3        301.0          Summer 2015  Nitrogen dioxide (NO2)        17.0
3   4        409.0          Summer 2015  Nitrogen dioxide (NO2)        14.4
4   5        304.0  Annual Average 2015  Nitrogen dioxide (NO2)        20.3

  Measure_Info  Indicator_ID
0          ppb           375
1          ppb           375
2          ppb           375
3          ppb           375
4          ppb           375
Tree Data Table:

    tree_id  cb_num  tree_count  avg_health_score  dbh_mean  dbh_max
0         1     101        2297            2.7101     7.096       88
1         2     102        4833            2.6739     8.898       33
2         3     103        4709            2.7084     8.449       32
3         4     104        4419            2.7798     7.941       38
4         5     105        2016            2.6037     6.375       21
5         6     106        4864            2.7052     8.742      199
6         7     107        8332            2.7751     9.606       54
7         8     108        8428            2.6362     9.334       74
8         9     109        4755            2.7159     9.491      109
9        10     110        5632            2.7376     8.564      228
10       11     111        4465            2.6726     8.220       33
11       12     112        6745            2.6188     7.810      318
12       13     201        4516            2.7168     7.792      149
13       14     202        4702            2.7867     7.341       59
14       15     203        4613            2.8053     8.392       46
15       16     204        6060            2.6965     8.227      291
16       17     205        4520            2.7195     7.199      105
17       18     206        4894            2.6821     8.070       98
18       19     207        5093            2.7632     9.504       49
19       20     208        5789            2.7882    12.153       94
20       21     209        9597            2.8329     9.828      106
21       22     210       10786            2.8501    11.491       62
22       23     211        9492            2.8128    12.611      204
23       24     212       10522            2.8285    11.931      169
24       25     301       11542            2.8084     9.234      151
25       26     302        8474            2.7436    11.373      110
26       27     303        9165            2.7974    10.605       71
27       28     304        6817            2.7081     8.918       52
28       29     305       15913            2.7557     8.884      318
29       30     306        9915            2.7483    11.119       54
30       31     307        7788            2.8047    10.504      195
31       32     308        5529            2.7408    11.239      425
32       33     309        5130            2.8170    12.890      145
33       34     310       10119            2.8218    14.507      170
34       35     311        9002            2.8335    13.794      164
35       36     312       11977            2.7923    12.864      175
36       37     313        3725            2.6499    10.798      118
37       38     314       10120            2.7592    13.931      204
38       39     315       12981            2.7059    14.365       60
39       40     316        5042            2.8495    10.657       45
40       41     317        8063            2.8460    13.812      266
41       42     318       18442            2.7759    15.427      293
42       43     401       12395            2.7874    11.166       78
43       44     402        8300            2.7341    10.826       62
44       45     403       10315            2.7686    12.319      168
45       46     404        6372            2.7323    11.954       50
46       47     405       18431            2.7181    12.669      141
47       48     406        9749            2.7810    13.111      281
48       49     407       29168            2.8143    13.209      181
49       50     408       19556            2.8177    14.467       63
50       51     409       10878            2.7726    14.965      132
51       52     410       14353            2.7888    14.260       64
52       53     411       26907            2.7959    14.673      282
53       54     412       24980            2.8472    13.074      217
54       55     413       35180            2.7688    13.580      389
55       56     414       11386            2.5447     7.862      261
56       57     501       24689            2.8193    11.392      255
57       58     502       24911            2.7693    11.886      250
58       59     503       51842            2.7530     9.995      298

In [36]:
#setting up a query function
def query(query: str):
    return pd.read_sql(query, conn)

In [41]:
all = """SELECT * FROM tree
        LIMIT 10"""
query(all)

   tree_id  cb_num  tree_count  avg_health_score  dbh_mean  dbh_max
0        1     101        2297            2.7101     7.096       88
1        2     102        4833            2.6739     8.898       33
2        3     103        4709            2.7084     8.449       32
3        4     104        4419            2.7798     7.941       38
4        5     105        2016            2.6037     6.375       21
5        6     106        4864            2.7052     8.742      199
6        7     107        8332            2.7751     9.606       54
7        8     108        8428            2.6362     9.334       74
8        9     109        4755            2.7159     9.491      109
9       10     110        5632            2.7376     8.564      228

In [49]:
nitrogen_dioxide = """SELECT Geo_Join_ID, Name, Data_Value 
                        FROM air
                        WHERE Name = 'Nitrogen dioxide (NO2)'
                        AND Time_Period = 'Summer 2015';
                        """
query(nitrogen_dioxide)

    Geo_Join_ID                    Name  Data_Value
0         304.0  Nitrogen dioxide (NO2)        15.5
1         301.0  Nitrogen dioxide (NO2)        17.0
2         409.0  Nitrogen dioxide (NO2)        14.4
3         201.0  Nitrogen dioxide (NO2)        17.4
4         104.0  Nitrogen dioxide (NO2)        23.4
5         413.0  Nitrogen dioxide (NO2)        12.1
6         105.0  Nitrogen dioxide (NO2)        29.7
7         209.0  Nitrogen dioxide (NO2)        15.8
8         411.0  Nitrogen dioxide (NO2)        13.0
9         211.0  Nitrogen dioxide (NO2)        15.7
10        501.0  Nitrogen dioxide (NO2)        12.5
11        107.0  Nitrogen dioxide (NO2)        19.8
12        111.0  Nitrogen dioxide (NO2)        18.6
13        206.0  Nitrogen dioxide (NO2)        17.4
14        108.0  Nitrogen dioxide (NO2)        21.7
15        110.0  Nitrogen dioxide (NO2)        19.1
16        305.0  Nitrogen dioxide (NO2)        13.4
17        406.0  Nitrogen dioxide (NO2)        15.2
18        302.0  Nitrogen dioxide (NO2)        18.0
19        311.0  Nitrogen dioxide (NO2)        13.6
20        204.0  Nitrogen dioxide (NO2)        18.4
21        317.0  Nitrogen dioxide (NO2)        14.6
22        106.0  Nitrogen dioxide (NO2)        25.6
23        101.0  Nitrogen dioxide (NO2)        23.0
24        306.0  Nitrogen dioxide (NO2)        16.9
25        202.0  Nitrogen dioxide (NO2)        16.4
26        402.0  Nitrogen dioxide (NO2)        16.4
27        102.0  Nitrogen dioxide (NO2)        22.4
28        205.0  Nitrogen dioxide (NO2)        18.8
29        316.0  Nitrogen dioxide (NO2)        15.0
30        109.0  Nitrogen dioxide (NO2)        18.9
31        307.0  Nitrogen dioxide (NO2)        15.1
32        314.0  Nitrogen dioxide (NO2)        14.0
33        412.0  Nitrogen dioxide (NO2)        13.4
34        315.0  Nitrogen dioxide (NO2)        11.4
35        407.0  Nitrogen dioxide (NO2)        14.4
36        312.0  Nitrogen dioxide (NO2)        14.8
37        308.0  Nitrogen dioxide (NO2)        16.6
38        309.0  Nitrogen dioxide (NO2)        15.9
39        403.0  Nitrogen dioxide (NO2)        16.2
40        318.0  Nitrogen dioxide (NO2)        10.8
41        404.0  Nitrogen dioxide (NO2)        17.1
42        414.0  Nitrogen dioxide (NO2)         6.9
43        210.0  Nitrogen dioxide (NO2)        14.6
44        112.0  Nitrogen dioxide (NO2)        16.9
45        203.0  Nitrogen dioxide (NO2)        17.2
46        502.0  Nitrogen dioxide (NO2)         8.8
47        212.0  Nitrogen dioxide (NO2)        15.3
48        410.0  Nitrogen dioxide (NO2)        12.8
49        207.0  Nitrogen dioxide (NO2)        17.3
50        103.0  Nitrogen dioxide (NO2)        20.2
51        401.0  Nitrogen dioxide (NO2)        15.9
52        310.0  Nitrogen dioxide (NO2)        14.2
53        405.0  Nitrogen dioxide (NO2)        14.4
54        208.0  Nitrogen dioxide (NO2)        14.3
55        408.0  Nitrogen dioxide (NO2)        13.5
56        313.0  Nitrogen dioxide (NO2)        10.0
57        303.0  Nitrogen dioxide (NO2)        16.6
58        503.0  Nitrogen dioxide (NO2)         6.6