This Notebook will store cleaned data in a SQLite database, and explore plotting.

Importing libraries and clean tree and air dataframes:

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt
import sqlite3

In [2]:
air = pd.read_csv("Air_quality_by_CD.csv")
air.head()

,index,Indicator_ID,Name,Measure_Info,Geo_Join_ID,Time_Period,Data_Value
0,186,375,Nitrogen dioxide (NO2),ppb,304.0,Summer 2015,15.5
1,415,375,Nitrogen dioxide (NO2),ppb,410.0,Winter 2015-16,22.5
2,442,375,Nitrogen dioxide (NO2),ppb,301.0,Summer 2015,17.0
3,479,375,Nitrogen dioxide (NO2),ppb,409.0,Summer 2015,14.4
4,516,375,Nitrogen dioxide (NO2),ppb,304.0,Annual Average 2015,20.3

In [3]:
tree = pd.read_csv("tree_summary_by_cb.csv")
tree.head()

   cb_num  dbh_mean  dbh_median  dbh_max  tree_count
0     101     7.096         6.0       88        2297
1     102     8.898         8.0       33        4833
2     103     8.449         7.0       32        4709
3     104     7.941         8.0       38        4419
4     105     6.375         6.0       21        2016

In [6]:
air_and_tree = pd.read_csv("combined_air_and_tree.csv")
air_and_tree.head()

,index,Indicator_ID,Name,Measure_Info,Geo_Join_ID,Time_Period,Data_Value,cb_num,dbh_mean,dbh_median,dbh_max,tree_count
0,186,375,Nitrogen dioxide (NO2),ppb,304.0,Summer 2015,15.5,304,8.918,7.0,52,6817
1,415,375,Nitrogen dioxide (NO2),ppb,410.0,Winter 2015-16,22.5,410,14.260,13.0,64,14353
2,442,375,Nitrogen dioxide (NO2),ppb,301.0,Summer 2015,17.0,301,9.234,8.0,151,11542
3,479,375,Nitrogen dioxide (NO2),ppb,409.0,Summer 2015,14.4,409,14.965,13.0,132,10878
4,516,375,Nitrogen dioxide (NO2),ppb,304.0,Annual Average 2015,20.3,304,8.918,7.0,52,6817